# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge of one-to-many and many-to-many relationships!

## Objectives

You will be able to:
* Explain one-to-many and many-to-many joins as well as implications for the size of query results
* Query data using one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [1]:
#Your code here
import pandas as pd
import sqlite3
conn =  sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Employees and their Office (a One-to-One join)

Return a dataframe with all of the employees including their first name and last name along with the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [2]:
#Your code here
cur.execute("""SELECT e.firstName, e.lastName, of.city, of.state
               FROM employees as e
               LEFT JOIN offices as of
               USING(officeCode)
               ORDER BY e.firstname, e.lastName;""")

df=pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(f"Total number of records: {len(df)}\n")
print(df.head())

Total number of records: 23

  firstName lastName           city state
0      Andy   Fixter         Sydney
1   Anthony      Bow  San Francisco    CA
2     Barry    Jones         London
3     Diane   Murphy  San Francisco    CA
4  Foon Yue    Tseng            NYC    NY

## Customers and their Orders (a One-to-Many join)

Return a dataframe with all of the customers' first and last names along with details for each of their order numbers, order dates, and statuses.

In [3]:
# Your code here
cur.execute("""SELECT c.contactFirstName, c.contactLastName, o.orderNumber, o.orderDate, o.status
               FROM customers as c
               JOIN orders as o
               USING(customerNumber)
               ORDER BY c.contactFirstName, c.contactLastName;""")

df=pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(f"Total number of records: {len(df)}\n")
print(df.head())

Total number of records: 326

  contactFirstName contactLastName orderNumber   orderDate      status
0           Adrian          Huxley       10139  2003-07-16     Shipped
1           Adrian          Huxley       10270  2004-07-19     Shipped
2           Adrian          Huxley       10361  2004-12-17     Shipped
3           Adrian          Huxley       10420  2005-05-29  In Process
4            Akiko       Shimamura       10258  2004-06-15     Shipped

## Customers and their Payments (another One-to-Many join)

Return a dataframe with all of the customers' first and last names along with details about their payments' amount and date of payment. Sort these results in descending order by the payment amount.

In [4]:
# Your code here
cur.execute("""SELECT contactFirstName, contactLastName, amount, paymentDate
               FROM customers as c
               JOIN payments as pym
               USING(customerNumber)
               ORDER BY pym.amount DESC;""")

df=pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(f"Total number of records: {len(df)}\n")
print(df.head())

Total number of records: 273

  contactFirstName contactLastName   amount paymentDate
0          Violeta         Benitez  9977.85  2003-11-08
1              Ben        Calaghan  9821.32  2003-10-17
2           Leslie          Taylor  9658.74  2004-12-06
3             Sean        Clenahan  9415.13  2004-07-28
4          Roland           Mendel  8807.12  2005-05-03

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a dataframe with all of the customers' first and last names along with the product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

- Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries that can make complex queries such as this much simpler!

In [5]:
# Your code here
cur.execute("""SELECT c.contactFirstName, c.contactLastName, p.productName, od.quantityOrdered, o.orderDate
               FROM customers as c
               JOIN orders as o
               USING(customerNumber)
               JOIN orderDetails as od
               USING(orderNumber)
               JOIN products as p
               USING(productCode)
               ORDER BY o.orderDate DESC;""")

df=pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(f"Total number of records: {len(df)}\n")
print(df.head())

Total number of records: 2996

  contactFirstName contactLastName                     productName  \
0          Janine          Labrune          1962 LanciaA Delta 16V
1          Janine          Labrune               1957 Chevy Pickup
2          Janine          Labrune  1998 Chrysler Plymouth Prowler
3          Janine          Labrune          1964 Mercedes Tour Bus
4          Janine          Labrune           1926 Ford Fire Engine

  quantityOrdered   orderDate
0              38  2005-05-31
1              33  2005-05-31
2              28  2005-05-31
3              38  2005-05-31
4              19  2005-05-31

## Summary

In this lab, you practiced your knowledge of one-to-many and many-to-many relationships!